/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
#logo-container{margin-top: -18px;}
.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.kiri{
  display: block;
  border: 2px solid #4caf50;
  text-align: center;
}
.kiri:hover{
  background-color: #4caf50;
  color:#fff !important;
}

.navigation.kiri.strong a{
  color: #fff;
}

.kanan{
  display: inline-block;
  border: 2px solid #4caf50;
  text-align: right;
}
.kanan:hover{
  background-color: #4caf50;
  color:#fff;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.extmar{margin-left: 10px;}
.comment-reply-title{margin-left: 10px;}
.comment-notes{margin-left: 10px;}
.pad{padding: 3px; margin-bottom: 10px;}
.padd{padding-left: 10px; padding-top: 5px; padding-right: 10px;}
.card-panel{
  padding: 0px 0px 10px 0px;
}
.padded{padding: 5px}
footer.page-footer {
  margin: 0;
}

.borderv1{
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  height: 130px !important;
  padding: 30px;
}